<a href="https://colab.research.google.com/github/ReynardValdez/58002_OOP/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [9]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [11]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [12]:
for x in "week":
  print(x)

w
e
e
k

In [13]:
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

In [14]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [15]:
i = 1
while i<6:
  print(i)
  i += 1 #i = i+1 Assignment operator

1
2
3
4
5

In [16]:
i = 1
while i<6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [17]:
i = 0
while i<6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [18]:
i = 1
while i<6:
  print(i)
  i +=1
else:
  print("it is no longer less than 6")

1
2
3
4
5
it is no longer less than 6

In [20]:
for x in range(10):
  print("Hello", x + 1)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [21]:
for x in range(7):
  print(x + 4)

4
5
6
7
8
9
10

In [22]:
class Person:
    def __init__(self, name):
        self.name = name
    
    def display_name(self):
        print("My name is", self.name)

# Example usage:
p = Person("Valdez, Reynard James M.")
p.display_name()

My name is Valdez, Reynard James M.