<a href="https://colab.research.google.com/github/ReynardValdez/58002_OOP/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [3]:
print("Heollo, world")

Heollo, world

In [9]:
 myvar = "John"
 _my_var = "John"
 myVar = "John"

In [10]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [11]:
y = "John"
y = 'John'

In [12]:
a = 4
A = "Sallt"
#A will not overwrite a

In [13]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

In [14]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

In [15]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

In [40]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

In [18]:
x = 5
y = 3
print(x + y)

x=5
y=3
sum=x+y
sum

8

8

In [19]:
a,b,c=0,-1,6
a>b and c>b
True

True

In [20]:
a,b,c=0,-1,5
a is c
False

False

In [22]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

In [24]:
def myFunction():
  return True

print(myFunction())

True

In [25]:
def myFunction():
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [26]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)

15
5
50
2.0

In [27]:
print(10%5)
print(10//3)
print(10**2)

0
3
100

In [30]:
a=60
b=13
a>>1

30

In [31]:
print(x is y)
print(x is not y)

False
True

Application I Create an arithmetic calculator (MDAS)

In [39]:
s=int(input())

1